<phpunit

	bootstrap="bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnError="false"
	stopOnFailure="false"
	stopOnIncomplete="false"
	stopOnSkipped="false"
	strict="false"
	syntaxCheck="false"
	debug="true"
	verbose="true">

	<php>
		<ini name="display_errors" value="true"/>
	</php>

	<selenium>
		<browser name="Firefox" browser="*firefox" host="127.0.0.1" port="4444" timeout="30000" />
	</selenium>

</phpunit>